@import './index.css';

.cardnav {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 2em;
}

.card.container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 1em;
  border: 2px solid transparent;
  border-radius: 1.5em;
  box-shadow: var(--main-box-shadow);
}
.card.container:hover {
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--main-highlight-color);
}
.card.container:active {
  box-shadow: var(--main-active-box-shadow);
}

.card.bg {
  width: 20em;
  height: 15em;
  object-fit: cover;
  position: relative;
  top: 0;
  flex: 1 1 calc(50% - 2em);
  border-radius: 0.5em 0 0 0.5em;
}

.card.container:nth-child(even) {
  flex-flow: row-reverse wrap;
  > .card.bg {
    border-radius: 0 0.5em 0.5em 0;
  }
}
.card.content {
  padding: initial;
  flex: 1 1 calc(50% - 2em);
  gap: 0;
  color: var(--main-dark-color);
}

.newest {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1em;
}

a.newest.all {
  padding: 0.5em;
  border: 1px solid transparent;
  box-shadow: 2.5px 2.5px transparent;
  align-self: flex-end;
  border: 2px solid transparent;
  border-radius: 0.5em;
  box-shadow: var(--main-box-shadow);
}

a.newest.all:hover {
  border-color: var(--main-highlight-color);
}
a.newest.all:active {
  box-shadow: var(--main-active-box-shadow);
}
