@import './index.css';

.navbar {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  background-color: var(--main-light-color);
  display: flex;
  justify-content: right;
  align-items: center;
  align-content: center;
  gap: 0.4em;

  z-index: 100;
}

.navitem {
  text-align: center;
  flex: 0 0 10%;
  box-sizing: border-box;
  height: calc(2em + 4px); /*height + border widths*/

  > a {
    text-align: center;
    vertical-align: center;
    line-height: 2em;
    margin: 0 0.5em;
  }
}

.navitem.logo {
  font-family: var(--main-serif-font);
  font-size: 2em;
  font-weight: 800;
  flex: 2 2 auto;
  text-align: left;
  > a {
    padding: 0.2em;
  }
}

.navitem a {
  color: var(--main-dark-color);
  text-decoration: none;
}

.navbar.top {
  position: sticky;
  top: 0;
  margin-bottom: 2em;
  flex-flow: row wrap;
  justify-content: right;
  align-items: center;
  align-content: space-between;
  border-bottom: 2px solid var(--main-highlight-color);
}

.navbar.bottom {
  flex-flow: row wrap;
  justify-content: center;
  padding: 2em 0 0;
  margin: 1em 0 0;
  border-top: 2px solid var(--main-highlight-color);
  bottom: 0;
  position: relative;
}

.navitem.link,
.navitem.logo a,
.navitem.button {
  border: 2px solid transparent;
  border-radius: 0.5em;
}

.navbar.top .navitem.link:focus,
.navbar.top .navitem.link:hover,
.navbar.top .navitem.logo a:hover,
.navbar.top .navitem.button:hover {
  box-shadow: var(--main-box-shadow);
  border: 2px solid var(--main-highlight-color);
}

.navbar.bottom .navitem.text {
  padding: 0.2em 0.2em 0em;
}

.navbar.bottom .navitem.link a {
  padding: 0.2em 0.2em 0em;
  color: var(--main-highlight-color);
  font-weight: 500;
}

.navbar.bottom .navitem.link a:hover {
  background-color: var(--main-highlight-color);
  color: var(--main-light-color);
}

.navbar.top .navitem.button {
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--main-highlight-color);
    cursor: pointer;
    > button {
      color: var(--main-light-color);
    }
  }
  > button {
    width: 100%;
    background-color: transparent;
    padding: 0;
    height: 2em;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    > span {
      flex: 0 0 25%;
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}
