@import './index.css';

/* =================================== */
/* ============BACK BUTTONS============ */
/* =================================== */
.project.back {
  flex: 0 0 100%;
  background-color: var(--main-light-color);
}
.project.backLink {
  padding: 0.5em;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.5em;
  box-shadow: var(--main-box-shadow);
}

.project.back:first-of-type {
  order: -100;
}
.project.back:last-of-type {
  order: 100;
}
.project.backLink:hover {
  border: 2px solid var(--main-highlight-color);
}

.project.backArrow {
  flex: 0 0 0.75em;
  height: auto;
  margin: 0.1em 0.1em 0.2em;
}

.project.backLink > * {
  vertical-align: middle;
}

/* =================================== */
/* ==============IMAGES=============== */
/* =================================== */

article.markdownpage p:has(img):has(em) {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

article.markdownpage img {
  max-width: 100%;
  height: auto;
  max-height: 50vh;
}

/* postauksen eka kuva bannerimainen */
article.markdownpage p:first-of-type img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
}
