@import './index.css';

.project {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}
.project.header,
.project.para,
.project.intro,
.project.subhead {
  margin: 2vh 0;
}
/* =================================== */
/* ============BACK BUTTON============ */
/* =================================== */
.project.back {
  flex: 0 0 100%;
  background-color: var(--main-light-color);
}
.project.backLink {
  padding: 0.5em;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.5em;
  box-shadow: var(--main-box-shadow);
}

.project.back:first-of-type {
  order: -100;
}
.project.back:last-of-type {
  order: 100;
}
.project.backLink:hover {
  border: 2px solid var(--main-highlight-color);
}

.project.backArrow {
  flex: 0 0 0.9em;
  height: auto;
  margin: 0.1em 0.1em 0.2em;
}

.project.backLink > * {
  vertical-align: middle;
}

/* =================================== */
/* ==============IMAGES=============== */
/* =================================== */
.project.picncap {
  max-height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.project.picncap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

@media screen and (orientation: portrait) {
  .project.picncap.img {
    max-width: initial;
    width: 90%;
    float: initial;
    margin: auto;
  }
}

.project.picncap .caption {
  font-weight: 400;
  margin: 0.3em 0 0;
}

/* =================================== */
/* =============HEADINGS============== */
/* =================================== */

.project.picncap.mainimg {
  flex: 1 1 calc(50vmin - 0.5em);
  max-height: 25vh;
}
.project.picncap.mainimg img {
  object-fit: cover;
}
.project.subhead {
  flex: 0 0 100%;
}

.project.intro {
  font-weight: 400;
  font-style: italic;
}
